* {
    box-sizing: border-box;
}

/* Scrollable Code Blocks */
.md-typeset pre > code {
    max-height: 30rem;
}

.tabbed-set {
    border: 1px solid rgba(0,0,0,0.05);
}

.tabbed-labels {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);

}

.tabbed-content {
    background-color: hsla(0,0%,50%,0.08);
}

.tabbed-block:not(:has(> .highlight:only-child)) {
    padding: 1rem;
}